@{
    ViewBag.Title = "Home Page";
}

<div class="container heading">
    <div class="container aevumContainer">
        <h1 class="headingAevum">Aevum Rhetorica</h1>
        <p class="lead">A visual representation of rhetorical works through the ages.</p>
        <p><button class="bigButton">The Timeline</button></p>
    </div>
</div>

<div class="container-fluid indexBody">
    <div class="row">
        <div class="col-md-6">
            <h2>Authors</h2>
            <p>All of the authors in the Aevum Timeline, searchable by Title, and Date</p>
            <p><button class="medButton"href="/AllWorks">List of Works</button></p>
        </div>
        <div class="col-md-6">
            <h2>Resources for Medievalists</h2>
            <p><button class="medButton" href="/Resources">Related Projects</button></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>About the Creators</h2>
            <p><button class="medButton" href="/AboutUs">About the People</button></p>
        </div>
        <div class="col-md-6">
            <h2>Contact Us</h2>
            <p><button class="medButton" href="/Contact">Give Feedback</button></p>
        </div>
    </div>
</div>