@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aevum Rhetorica</h1>
    <p class="lead">A visual representation of rhetorical works through the ages.</p>
    <p><button class="bigButton">The Timeline</button></p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>About the Project</h2>
            <p><button href="/About">About Aevum</button></p>
        </div>
        <div class="col-md-6">
            <h2>About the Creators</h2>
            <p><button href="/AboutUs">About the People</button></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Resources for Medievalists</h2>
            <p><button href="/Resources">Related Projects</button></p>
        </div>
        <div class="col-md-6">
            <h2>Contact Us</h2>
            <p><button href="/Contact">Give Feedback</button></p>
        </div>
    </div>
</div>